:root {
    --cor-neon: rgb(1, 145, 8);
    --cor-neon-suave: rgba(1, 145, 8, 0.5);
    --cor-fundo: #000000;
    --cor-texto-claro: #ffffff;
    --cor-texto-cinza: #dddddd;
    --raio-borda: 8px;
    --transicao-padrao: 0.3s ease;}